<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Friends List</title>
    <link rel="stylesheet" href="app.css">
</head>

<body>
    <h1>Friends List</h1>

    <% for( let friend of friends ) { %>
        <li class="friend-title"> <a href="/friends/<%= friend._id %>">
                <%=friend.name%>
            </a></li>

        <% } %>
            <br>
            <a href="/friends/new">new friend</a>
</body>

</html>