<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New friend</title>
</head>

<body>
    <h1>Add friend</h1>
    <form action="/friends" method="POST">
        <div>
            <label for="name">Name: </label>
            <input type="text" name="name" id="name" placeholder="Name" required minlength="2">
        </div>
        <div>
            <label for="date">Year we met:</label>
            <input type="number" min="2003" max="2024" name="date" id="date" placeholder="date" required>
        </div>
        <div>
            <label for="note">Add a note (optional):</label>
            <br>
            <textarea id="note" name="note" placeholder="note / anything" cols="30" rows="5"></textarea>
        </div>
        <button>Submit</button>
    </form>
    <a href="/friends">back to friends list</a>
</body>

</html>